PioneerTechConsultancySystem/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50705/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PioneerTech.WCFServce" />
  <xs:element name="saveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MobileNo" type="xs:long" />
        <xs:element minOccurs="0" name="CurrentCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomeCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PioneerTech.WCFServce" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PioneerTech.WCFServce" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>